<%= image_tag facebook_large_picture_url(@user.facebook_id), :class => 'left' %>
<div id="about_user" class="right" style="width:560px">
  <h2><%= @user.name %></h2>
  <ul>
    <%= content_tag(:li, "is from #{country_name @user.hometown}")  unless @user.hometown.blank? %>
    <%= content_tag(:li, "lives in #{country_name @user.location}") unless @user.location.blank? %>
    <% unless @message.blank? %>
      <li><%= @message.html_safe %></li>
    <% end %>
  </ul>
  <%= image_tag @user.map, :width => 560, :class => 'mauto' %>
</div>
<div class="out"></div>

<% if @updates.any? %>
  <h3>Travel Buddy Updates</h3>
  <% @updates.each do |message| %>
  <% next unless message.text %>
  <div class="msg" id="msg_<%= message.id %>">
    <%= image_tag @user.picture_url, :class => "i#{@user.facebook_id}" %>
    <div>
      <%=link_to @user.name,facebook_profile_url(@user.facebook_id), :class=>'name', :target => '_blank'%>
      <%=message.text.html_safe %>
      <br/>
      <small>
        <a name="ac_<%= message.id %>" id="ac_<%= message.id %>" class="ac">
          <%=t 'add_comment' %> (<fb:comments-count href=<%= root_url %>message/<%= message.id %>></fb:comments-count>)</a>
        <span class="ac_<%= message.id %>">·</span>
        <%= time_ago_in_words message.created_at, true %> ago
        ·
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-href="<%= root_url %>message/<%= message.id %>"></div>
      </small>
      <div class="dis fb_comment_wrap" id="c_<%= message.id %>">
        <div class="fb-comments" data-href="<%= root_url %>message/<%= message.id %>" data-num-posts="2" data-width="400" data-publish_feed="true" data-title=""></div>
      </div>
    </div>
    <div class="out"></div>
  </div>
  <% end %>
<% end %>

<% if @friends.any? %>
  <h3>Friends in Travel Buddy</h3>
  <div id="user_friends">
  <% @friends.each do |friend| %>
    <%= image_tag friend.picture_url,
                :class => "i#{friend.facebook_id} tip",
                :title => friend.name,
                :rel => "/friend/facebook/#{friend.facebook_id}"  %>
  <% end %>
  </div>
  <div class="out"></div>
<% end %>
<br/>
<% if @trips.any? %>
  <h3>Trips</h3>
  <div id="user_trips">
  <% @trips.each do |trip| %>
    <%= link_to image_tag(trip.users.first.picture_url), trip_path(trip),
              :title => trip.name, :class => 'tip' %>
  <% end %>
  </div>
  <div class="out"></div>
<% end %>
<br/>

<div id="perfects">
<% unless @perfects.blank? %>
  <h3><%= @user.name.split(/\s/).first %> has perfect travel match with You !</h3>
  <% @perfects.each_pair do |friend, travels| %>
  <div class="match">
    <%= image_tag friend.picture_url,
                :class => "i#{friend.facebook_id} tip",
                :title => friend.name,
                :rel => "/friend/facebook/#{friend.facebook_id}" %>
    <div>
      <%= link_to friend.name,facebook_profile_url(friend.facebook_id), :target => '_blank' %>
      also wants to go to
      <%= friend.messages_country(travels[:country]).first.html_safe %>
      and also wants to travel
      <%= friend.messages_time(travels[:time]).first.html_safe %>

      <%#= travels[:country].map {|c| c.countryname }.join(' or ')
      %>
      <%#= travels[:time].map {|c| c.date_range }.join(' or ')
      %>
    </div>
    <div class="out"></div>
  </div>
  <% end %>
<% end %>
</div>
<br/>

<% unless @country_messages.blank? %>
<h3><%= @user.name.split(/\s/).first %> wants to go to same countries as You !</h3>
<div id="country_matches">
  <% @country_messages.each do |user, content| %>
    <%= render :partial => '/travels/match', :locals => {
        :user    => user,
        :message => country_message(content.first, content[2]),
        :special => content[1] # countries string to class
    } %>
  <% end %>
</div>
<% end %>
<br/>

<% unless @time_messages.blank? %>
<h3><%= @user.name.split(/\s/).first %> wants to travel at the same time as You !</h3>
<div id="time_matches" class="tab-pane">
  <% @time_messages.each do |user, content| %>
    <%= render :partial => '/travels/match', :locals => {
          :user    => user,
          :message => time_message(content.first, content[3]),
          :special => [content[1], content[2].join(' ')].join(' ')
    } %>
  <% end %>
</div>
<% end %>

